@font-face {
    font-family: "dolce_vita";
    src: url(../fonts/dolce_vita/Dolce%20Vita.ttf);
}

.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
  height: 400px;
}

.project-image {
  bottom: 0px;
  display: inline-block;
  height: 400px;
}

.section {
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.show-project {
}

.dolce-font {
  font-family: "dolce_vita";
}

.project-div {
  height: 100%;
}

.project-button {
  bottom: 0px;
  width: 33%;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.light-pattern {
  background-image: url("../images/Ben_Business_Design_02.jpg");
}

.dark-pattern-container {
  padding-bottom: 10px;
  background-image: url("../images/Ben_Business_Design_01.jpg");
}

.white-container {
  background-color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}